# environments
.env.fish
.env
*.swp
wiki

# backend
*.pyc
config/local.py

# frontend
client/node_modules
client/dist/
npm-debug.log

# IDE
.idea/

# Unit test / coverage report
.coverage
.tox
.coverage.*
.cache
coverage.xml
*.cover
ghostdriver.log
