# environments
.env.fish
.env
*.swp
wiki

# python
*.pyc

# client
client/node_modules
client/npm-debug.log
client/dist/

#IDE
.idea/

#Unit test / coverage report
.coverage
.tox
.coverage.*
.cache
coverage.xml
*.cover
