import os

from config.base import BaseConfig


class LocalConfig(BaseConfig):
    DEBUG = True

    DB_USER = '{{ user }}'
    {% if password -%}
    DB_PASSWORD = '{{ password }}'
    {%- else -%}
    DB_PASSWORD = ''
    {%- endif %}
    DB_HOST = '{{ dbhost }}'
    DB_PORT = {{ dbport }}
    DB_NAME = '{{ dbname }}'
    DB_URL = 'postgresql://{}:{}@{}:{}/{}'.format(
        DB_USER, DB_PASSWORD, DB_HOST, DB_PORT, DB_NAME)
    TEST_DB_NAME = '{{ test_dbname }}'
    TEST_DB_URL = 'postgresql://{}:{}@{}:{}/{}'.format(
        DB_USER, DB_PASSWORD, DB_HOST, DB_PORT, TEST_DB_NAME)

    ALEMBIC_INI = os.path.join(os.getcwd(), 'alembic.ini')
